{:kotoba.app/id "cloud.itonami.isic-5011", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih4rgtridy7tw4i5pjyturwcoixgsccp4itxay7tjnj6pfbcded3q", :kotoba.app/embed-url "ipfs://bafkreih4rgtridy7tw4i5pjyturwcoixgsccp4itxay7tjnj6pfbcded3q", :published {:archive "https://kotobase.net/ipfs/bafkreih4rgtridy7tw4i5pjyturwcoixgsccp4itxay7tjnj6pfbcded3q", :size 4675, :put-status 201, :get-status 200, :at "2026-08-15T13:41:43.010Z"}}
